<table>
  <tbody>
  <tr>
    <td>Email:</td>
    <td><input  class="form-control" name="email" [(ngModel)]="email" id="txtEmail"/></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input  class="form-control" name="password" [(ngModel)]="password" type="password"/></td>
  </tr>
  <tr>
    <th scope="row"><button type="button" (click)="GetMessages()">Get messages</button></th>
  </tr>
  </tbody>
</table>
<div><h3>Messages</h3>
  <ul>
    <li *ngFor="let p of messages">{{p}}</li>
  </ul>
</div>
